@mixin onDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin onDesktopMedium {
  @media (max-width: 1599px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: 767px) {
    @content;
  }
}