@import './mixins';

html {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #D9D9D9;
  box-sizing: border-box;

  // @include onTablet {
  //   font-size: 16px;
  // }

  // @include onPhone {
  //   font-size: 12px;
  // }
}

body {
  background-color: #161A1E;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */

    &-thumb {
      background-color: #2c2c2c; /* Цвет ползунка */
      // background-color: #9d9d9d; /* Цвет ползунка */
      border-radius: 5px;

      &:hover {
        background-color: #888;
      }
    }

    &-track {
      // background-color: #0f0f0f; /* Цвет трека */
      background-color: #333; /* Цвет трека */
    }

    &-button {
      display: none; /* Скрываем кнопки */
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
}