@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
// @import '~bootstrap/scss/bootstrap';
@import './normalize.scss';
@import './global.scss';
@import './main.scss';

