@import '../styles/mixins';

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem auto;
  max-width: 1300px;

  @include onTablet {
    flex-wrap: wrap;
  }

  &__calculator {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include onPhone {
      flex-wrap: wrap;
    }
  }

  &__marketprice {
    border: 1px solid #3E3C39;
    color: #58606C;
    font-size: 0.7rem;
    text-align: center;
    padding: 0 0.5rem 0.5rem;

    &-value {
      background: #0072B2;
      color: #FFF;
      margin-top: 0.2rem;
    }
  }

  &__earn {
    border: 1px solid #3E3C39;
    color: #58606C;
    font-size: 0.7rem;
    text-align: left;
    padding: 0.5rem 1rem 1rem;
  }
}